* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    margin: 0;
}
html {
scroll-behavior:smooth;
}    
#block1 {
background-color: rgb(165, 219, 186);
}
    
#block2 {
background-color: rgb(165, 219, 186);
background-size: contain;
}
.maintxt{
padding-top: 250px;
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 110px;
line-height: 150px;
background-size: contain;

color: #FFFFFF;

text-shadow: -4px 12px 16px #000000;
}
.line{
    
width: 50%;
margin: 0 auto;
display: block;
border: 1px solid #FFFFFF;
margin-top: 100px;
}
.maintxt2{
display: block;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-weight: 400;
font-size: 50px;
line-height: 150px;
background-size: contain;
text-decoration:none;

color: #FFFFFF;

text-shadow: -4px 12px 16px #000000;
}
.maintxtin2block{

font-family: 'Josefin Slab';
font-style: italic;
font-weight: 0;
font-size: 30px;
line-height: 35px;
background-size: contain;
text-align: center;

color: #FFFFFF;

text-shadow: -4px 12px 16px #000000;
}
.imgpos{
padding-left: 0px;
padding-top: 0px;
top:1150px;
left:500px;
width: 80%;
}

.imgpos1{
padding-left: 0px;
padding-top: 0px;
top:1150px;
left:500px;
width: 30%;
}



.sns{
    text-align: center;
    font-family: 'Josefin Slab';
    color:#FFFFFF
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    background-color: rgb(165, 219, 186);
}
.str{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgall{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .imgall{
        flex-wrap: wrap;
    }
}